body
{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 400;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
  }
  header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 2rem;
  }
  
  h1 {
    font-size: 3rem;
    margin: 0;
  }

.text{
    /* margin-top: 15%; */
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    margin-top: 2.5%;
    margin-left: 33%;
    line-height: 17px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option {
  display: block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.option:hover {
  background-color: #0069d9;
}