<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/account-deleted.css" />
    <title>Student Registration</title>
  </head>
  <body>

    <header>
      <h1>Welcome to MentalHealth!</h1>
    </header>
    <div class="text">
        <p>Dear Student,</p>
        <p>We are sad to see you go.</p>
        <p>We wish you nothing but the best. Good luck, and we hope to see you back{{ID}}.</p>
        <p>Best regards,</p>
        <p>The MentalHealth Team</p>
    </div>
    <div class="options">
      <a href="{{url_for('index')}}" class="option">Login</a>
    </div>
  </body>
</html>
