<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/succesfully-registered.css" />
    <title>Student Registration</title>
  </head>
  <body>

    <header>
      <h1>Welcome to MentalHealth!</h1>
    </header>
    <div class="text">
        <p>Dear employee,</p>
        <p>Thanks for registering {{name}} in the system.</p>
        <p>They will receive an email with instructions to login and create their password.</p>
        <p>Best regards,</p>
        <p>The MentalHealth Team</p>
    </div>
    <div class="options">
      <a href="{{url_for('employee_home')}}" class="option">Back to home</a>
    </div>
  </body>
</html>
