<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/succesfully-registered.css" />
    <title>Student Registration</title>
  </head>
  <body>

    <header>
      <h1>Welcome to MentalHealth!</h1>
    </header>
    <div class="text">
        <p>Dear {{name}},</p>
        <p>We are delighted to welcome you to our website! Here, you will find all the information you need about our courses, programs, and activities.</p>
        <p>To login, use your email address and password. Your student ID and password is {{ID}}.</p>
        <p>If you have any questions or concerns, please do not hesitate to contact us.</p>
        <p>Best regards,</p>
        <p>The MentalHealth Team</p>
    </div>
    <div class="options">
      <a href="{{url_for('index')}}" class="option">Login</a>
    </div>
  </body>
</html>
