<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/survey-submitted.css" />
    <title>Survey Submitted</title>
    <script>
        setTimeout(function () {
          window.location.href = "{{ url_for('student_home', studentID=studentID )}}";
        }, 10000); //10 seconds in milliseconds
      </script>
  </head>
  <body>

    <header>
      <h1>Thanks for submitting the survey!!</h1>
    </header>
    <div class="text">
        <p>Dear {{ name }},</p>
        <p>Thank you for your survey submission for student ID {{ studentID }}.</p>
        <p>You will be redirected to another page shortly.</p>
        <p>If it takes longer than 10 seconds, please click <a href="{{url_for('student_home', studentID=studentID)}}">here</a></p>
        <p>Best regards,</p>
        <p>The MentalHealth Team</p>
    </div>
    <!-- <div class="options">
      <a href="{{url_for('index')}}" class="option">Login</a>
    </div> -->
  </body>
</html>
